<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ERROR DA YO!</title>

    <!-- Bootstrap core CSS -->
    <link href="../common/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../common/css/system-error.css" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron" style="width:30rem;">
      <h1 class="display-4">ERROR, DAYO!</h1>
      <p class="lead">DB no kigen ga bad mitai ...</p>
      <hr class="my-4">
      <p>sita no botan osu to roguingamen ni modoru yo.</p>
      <p>mecha-mecha gomen yade ...</p>
      <button class="btn btn-secondary btn-lg mt-3" href="#" role="button">chlick me!</button>
    </div>
  </body>
</html>
