body {
  font-size: .875rem;
}

.expense {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * main
 */

.main-sticky {
  position: -webkit-sticky;
  position: sticky;
  padding: 0;
  margin: 0;
  top: 120px; /* Height of navbar */
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

