        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-heading sidebar-sticky">
            <ul class="nav flex-column">
            
            
            <!-- メインメニュー -->
            <h7 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>-- Main Menu --</span>
            </h7>
              <!--li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-Expense="home"></span>
                  Top(未実装)
                </a>
              </li -->
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-expense="file"></span>
                  Application List <span class="sr-only" >(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Master
                </a>
              </li>
            </ul>
            <!-- サブメニュー -->
            <h7 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>-- Sub Menu --</span>
            </h7>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-expense="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-expense="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-expense="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-expense="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

